<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hotel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rooms' %}">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'review' %}" tabindex="-1" aria-disabled="true">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'messages' %}" tabindex="-1" aria-disabled="true">Contact Staff</a>
          </li>

          {% if user.is_staff%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Staff Stuff
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'staff_view_bookings' %}">Master Booking List</a></li>
              <li><a class="dropdown-item" href="{% url 'staff_all_contacts' %}">Customer contact</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          {% endif %}
          {% if user.is_superuser%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'create_room' %}">Create Room</a></li>
              <li><a class="dropdown-item" href="{% url 'create_room_type' %}">Create Room Type</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          {% endif %}
          {% endif %}
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
{% else%}
<li class="nav-item">
<a class="nav-link " href="{% url 'login' %}" tabindex="-1" >login</a>
</li>
<li class="nav-item">
<a class="nav-link " href="{% url 'signup' %}" tabindex="-1" >signup</a>
</li>
        {% endif %}
      </div>
    </div>
  </nav>