{% extends 'base.html' %}

{% block content%}
<h1>These are the bookings</h1>

<div class="row">
    {% for person in contacts %}
    <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name: {{person.user.username}} </h5>
          <!-- <p class="card-text">Room: {{booking.room.room_type.name}}</p>
          <p class="card-text">Booking-start date: {{booking.book_start}}</p>
          <p class="card-text">Booking-end date: {{booking.book_end}}</p> -->
          <a href="{% url 'staff_contact' person.id %}" class="btn btn-primary">Contact person</a>
        </div>
      </div>
    {% endfor %}

</div>

{% endblock %}

