{% extends 'base.html'%}



{% block content %}
<h2>This your booking</h2>

<div class='row'>


    <ul class="list-group">
        <li class="list-group-item">Name: {{object.profile.user.first_name}} {{object.profile.user.last_name}}</li>
        <li class="list-group-item">Room: {{object.room.room_type.name}} </li>
        <li class="list-group-item">Beds: {{object.room.room_type.beds}}</li>
        <li class="list-group-item">Cost Per Night: {{object.room.room_type.price}}</li>
        <li class="list-group-item">Amount of people: {{object.people}}</li>
        <li class="list-group-item">Booking-start date: {{object.book_start}} </li>
        <li class="list-group-item">Booking-end date: {{object.book_end}} </li>
        <p><a href="{% url 'staff_create_booking' %}">make a booking</a></p>
        <p><a href="{% url 'staff_view_bookings' %}" >Booking List</a></p>
        <p><a href="{% url 'staff_update_booking' object.id %}">Update this Booking</a></p>

        <p><a href="{% url 'staff_delete_booking' object.id %}">Delete this Booking</a></p>

  
      </ul>
   
</div>


{% endblock %}